<div class="container mt-4">
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header">
                    <h4>Cadastro de Categoria de Produtos</h4>
                </div>
                <div class="card-body">
                    <form class="row g-3" [formGroup]="catProdForm">
                        <div class="col-3">
                            <label for="id">ID</label>
                            <input type="text"
                                   class="form-control"
                                   id="id" readonly
                                   placeholder="ID"
                                   formControlName="id">
                        </div>

                        <div class="col-7">
                            <label for="nomeDesc">Descrição</label>
                            <input type="text"
                                   maxlength="100"
                                   class="form-control"
                                   id="nomeDesc"
                                   required="true"
                                   placeholder="Descrição da Categoria: Contabilidade, Suporte..."
                                   formControlName="nomeDesc">
                                   <div *ngIf="catProdForm.get('nomeDesc')?.errors" style="font-size: 10px;color: brown;">*Descrição obrigatória!</div>
                        </div>


                        <!-- <div class="col-7">
                            <label for="empresa">Empresa</label>
                            <select id="empresa" class="form-control">
                                <option selected>Selecione uma empresa...</option>
                                <option value="1">Empresa A</option>
                                <option value="2">Empresa B</option>
                            </select>
                        </div> -->

                        <!--<div class="form-group">
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" id="ativo">
                                <label class="form-check-label" for="ativo">
                                    Categoria Ativa
                                </label>
                            </div>
                        </div> -->

                        <div class="col-12">
                          <button type="submit" class="btn btn-primary ml-3" (click)="cadProdCategoria()" [disabled]="!catProdForm.valid">Salvar</button>
                          <button type="button" class="btn btn-secondary ml-2">Cancelar</button>
                        </div>

                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
